/* itemDetail.css */
.containerItems {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  
  .frameContainer {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 1000px;
  }
  
  .imageContainer {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imageContainer img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .infoContainer {
    flex: 1;
    padding: 20px;
  }
  
  .infoContainer h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .infoContainer p {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .CounterContainer {
    margin-top: 20px;
  }
  
  .ratingContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .starRating {
    color: #f39c12;
    font-size: 18px;
    margin-right: 5px;
  }
  
  .ratingCount {
    font-size: 14px;
  }
  
  /* Responsive Styles */
@media (max-width: 768px) {
    .frameContainer {
      flex-direction: column;
    }
  
    .imageContainer,
    .infoContainer {
      padding: 10px;
    }
  
    .imageContainer {
      text-align: center;
    }
  
    .infoContainer {
      text-align: center;
    }
  }